@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<div class="frontpageContainer">
    <div class="card">
        <a href="order/newPC"><img src="/images/1.jpg"/></a>
        <h3>CUSTOMER</h3>
        <p>Online shop to buy custom PC's</p>
    </div>
    <div class="card">
        <a href="ManagerMain"><img src="/images/1.jpg" /></a>
        <h3>MANAGER</h3>
        <p>Entrance for shop management</p>
    </div>
</div>
