
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="managerMainContainer">
    <div class="card">
        <a href="HandleOrders/index"><img src="/images/1.jpg"/></a>
        <p>Incoming Orders</p>
        
    </div>
    <div class="card">
        <a href="inventory/viewinventory"><img src="/images/1.jpg" /></a>
        <p>Inventory</p>
        
    </div>
    <div class="card">
        <a href="HandleOrders/vieworderedcomponents"><img src="/images/1.jpg" /></a>
        <p>Components request</p>
        
    </div>

    <div class="card">
        <a href="ComponentShop"><img src="/images/1.jpg" /></a>
        <p>Order components</p>
        
    </div>
</div>